@media (max-width: 1200px) {
  .feature {
    padding-top: 2em;
  }
}

@media (max-width: 979px) {
  #header-title {
    font-size: 2em;
  }
}

@media (max-width: 767px) {
  #header-title {
    font-size: 2em;
    left: 30px;
    top: 25%;
    max-width: 300px;
  }

  #header-title img {
    display: none;
  }

  header nav li {
    display: none;
  }

  #nav-logo {
    display: none;
  }

  #nav-mobile {
    display: inline-block;
  }

  section {
    padding: 2em 20px;
  }

  .feature-desc {
    padding: 0 20px;
    text-align: left;
  }

  .feature-desc h1 {
    text-align: center;
  }

  #video-container {
    width: 100%;
    padding: 2em 0 0 0;
  }

  .slogan {
    padding: 2em 0.5em;
  }

  .video-caption h1 {
    font-size: 1.5em;
  }

  .icon-img img {
    width: 50px;
    height: 50px;
  }

  .icon-expand {
    margin-top: 1em;
  }

  .button-container {
    padding-bottom: 0;
  }

  .row.valign {
    display: block; /* Allows stacking */
  }

  #footer-logo {
    text-align: center;
    margin-top: 2em;
  }
}
